###Question 1 : Write a program to get a user input in the form of a list data type. Return a list by removing all the duplicates.

###Sample Input -> [4, 4, 5, 6, 8, 4, 5]

###Output -> [4, 5, 6, 8]

###NOTE: Take user input using a for loop.

In [5]:
list1=[]
print("Enter the length:")
length = int(input())
print("Enter the numbers:")
for dp in range (length) :
  numbers=input()
  list1.append(numbers)
l=len(list1)
print(l)
list2=[]
for k in list1:
  if k not in list2:
    list2.append(k)
print(list1)
print(list2)

Enter the length:
7
Enter the numbers:
4
4
5
6
8
4
5
7
['4', '4', '5', '6', '8', '4', '5']
['4', '5', '6', '8']

### Question 2 : Write a program to create a user defined tuple with ‘int’ data type and perform the following operations: 

###Find the length of tuples 

###Find the sum of all the elements of a tuple 

###Find the largest and smallest elements of a tuple

In [6]:
t= ()
listt = []
print("enter the length of list you want:")
length= int(input())
print("enter the elements:")
for i  in range (length):
  ele= int(input())
  listt.append(ele)
  i+1
t=tuple(listt)
print(t)
print(type(t))
l=len(t)
print(l)
s=0
for i in range (l):
  s+=t[i]
print (s)
print("smallest number of tuple:",min(t))
print("largest nummber of tuple:",max(t))

enter the length of list you want:
4
enter the elements:
1
2
4
3
(1, 2, 4, 3)
<class 'tuple'>
4
10
smallest number of tuple: 1
largest nummber of tuple: 4

###Question 3 : Given a number and ith bit, change the ith bit of that number to 1.
###Sample Input -> num = 13, i = 1
###Output -> 15
### Explanation -> 13 can be represented as 1101 in binary. Now if we set the 1st bit of this binary represented value, we will get 1111 (i.e. 15) as output.

In [0]:
a=9
i=2
ans = ((1 << i) | a)
print (ans)

13

### Question 4 : Given a number, print 1 if the number is odd otherwise print 0.
###NOTE: Try to do this program without the use of if else statement.

In [7]:
print("Enter any any number:")
aa= int(input())
print("The number is:",aa)
while(aa%2==0):
  print("0")
  break
while(aa%2!=0):
  print("1")
  break

Enter any any number:
9
The number is: 9
1

###Question 5 : Given two lists of integers A and B. Write a program to merge them into a single sorted list that contains every item from list A and B in ascending order.

In [0]:
list3 = [4,3,8,1]
list4 = [5,7,2,6]
list5 = list3 + list4
list5.sort()
print(list5)

[1, 2, 3, 4, 5, 6, 7, 8]

###Question 6 : Create a user defined dictionary to store names and marks of 5 students. Sort the dictionary according to marks and return this sorted dictionary to the user.
###Sample Input -> {'Berlin': 70, 'Oslo':0, 'Moscow':50, 'Nairobi':100}
###Output -> {'Oslo':0, 'Moscow':50, 'Berlin': 70, 'Nairobi':100}

In [9]:
list6 = []
list7 = []
print("Enter the names of 5 student")
for i in range (5) :
  n = input()
  list6.append(n)
print("Enter the marks of 5 student respectively")
for i in range (5) :
  m = input()
  list7.append(m)
print(list7)
print(list6)
dict1 =  dict(zip(list6,list7))
print(dict1)
dict2 = sorted(dict1.items(), key=lambda kv: kv[1])
print (dict(dict2))

Enter the names of 5 student
Aditya
Bhavesh
Chetan
Deepak
Ehsaan
Enter the marks of 5 student respectively
75
55
40
85
60
['75', '55', '40', '85', '60']
['Aditya', 'Bhavesh', 'Chetan', 'Deepak', 'Ehsaan']
{'Aditya': '75', 'Bhavesh': '55', 'Chetan': '40', 'Deepak': '85', 'Ehsaan': '60'}
{'Chetan': '40', 'Bhavesh': '55', 'Ehsaan': '60', 'Aditya': '75', 'Deepak': '85'}